.grid-container {
    display: grid;
    gap: 50px; /* Adjusted for responsiveness */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive columns */
    grid-auto-rows: 250px; /* Row height */
}

.content {
    text-align: center;
    border: 0px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

img {
    width: 100%; /* Scales with column width */
    height: 100%; /* Stretches to match row height */
    object-fit: cover; /* Ensures aspect ratio is maintained */
    display: block;
    margin: 5 auto;
}